.spacer {
	margin-top: 1%;
	margin-bottom: 1%;
	padding-top: 1%;
	padding-bottom: 1%;
}

.ng-invalid.ng-dirty {
  border-color: red;
  outline-color: red;
}

.ng-valid.ng-dirty {
  border-color: green;
  outline-color: green;
}

.line {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

.text-huge {
	font-size: 24px;
}

.text-normal {
	font-weight: normal;
}