.spacer {
	margin-top: 1%;
	margin-bottom: 1%;
	padding-top: 1%;
	padding-bottom: 1%;
}

.ng-invalid.ng-dirty {
  border-color: red;
  outline-color: red;
}

.ng-valid.ng-dirty {
  border-color: green;
  outline-color: green;
}

.line {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

.text-huge {
	font-size: 24px;
}

.text-normal {
	font-weight: normal;
}

.store-listed-image {
	max-height: 150px;
}

.product-list-image, .product-create-image {
	min-height: 120px;
	min-width: 120px;
	max-height: 120px;
	max-width: 120px;
}

.category-listed {
	margin-right: 2%;
}

.footer {
	right: 1%;
	bottom: 5%;
}

.login {
	width: 30%;
	margin: auto;
}