.spacer {
	margin-top: 1%;
	margin-bottom: 1%;
	padding-top: 1%;
	padding-bottom: 1%;
}

.ng-invalid.ng-dirty {
  border-color: red;
  outline-color: red;
}

.ng-valid.ng-dirty {
  border-color: green;
  outline-color: green;
}

.line {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

.text-huge {
	font-size: 24px;
}

.text-normal {
	font-weight: normal;
}

.store-listed-image {
	height: 120px;
	width: 120px;
}

.product-list-image, .product-create-image {
	min-height: 120px;
	min-width: 120px;
	max-height: 120px;
	max-width: 120px;
}

.category-listed {
	margin-right: 2%;
}

.footer {
	right: 1%;
	bottom: 5%;
}

.login {
	width: 30%;
	margin: auto;
}

div.angular-ui-tree-handle {
	cursor: default;
	margin-bottom: 1px;
	border-bottom: 1px solid #e7e7e7;
	padding: 8px; 
}

.list-group.nested {
	margin-top: 20px;
}

.categoryItem {
	margin-left: 8px;
}

.subCategory {
	margin-left: 8px;
}

.subCategory::before {
	content: "\f105";
	margin-right: 5px;
	font: normal normal normal 14px/1 FontAwesome;
}

.user-detail .img-thumbnail {
	width: 50px;
}

.user-detail td  {
    vertical-align: middle !important;
}

.user-detail .icon-action {
	font-size: 20px;
	margin-left: 10px;
}

.user-detail .icon-social {
	width: 20px;
	margin-right: 4px;
}

/* -- User -- */

.likes-product {
	margin-left: 3%;	
}

/* -- Categories list -- */

.list-inline.category-list li {
	margin-top: 5px;
}

