<div class="login">
    <form novalidate name="credentialsForm" class="css-form" ng-submit="login.ok()">
        <div class="form form-horizontal center-block">
            <h2 class="text-center">Lyb CMS</h2>
            <br>
            <div class="form-group" 
                 ng-class="{ 'has-error': credentialsForm.username.$dirty 
                              && login.username.$invalid }">
                <input  type="text"
                        placeholder="User" 
                        ng-model="login.credentials.username" 
                        class="form-control input-lg"
                        name="username"
                        required >
                <div ng-show="credentialsForm.username.$dirty 
                             && credentialsForm.username.$invalid">
                    <span ng-show="credentialsForm.username.$error.required">Please, enter your username.</span>
                </div>
            </div>
            <div class="form-group" 
                 ng-class="{ 'has-error': credentialsForm.password.$dirty && credentialsForm.password.$invalid }">
                <input  type="password" 
                        ng-model="login.credentials.password"
                        placeholder="Clave"
                        class="form-control input-lg"
                        name="password"
                        required>
                <div ng-show="credentialsForm.password.$dirty && credentialsForm.password.$invalid">
                    <span ng-show="credentialsForm.password.$error.required">Please, enter your password </span>
                </div>
            </div>
            
            <div ng-show="login.invalidLogin" class="validation-bottom-text text-danger">
                <span>The username or password are invalid.</span>
            </div>
            
            <button ng-disabled="credentialsForm.$invalid"
                    class="btn btn-success btn-lg btn-block"
                    type="submit">Login</button>
        </div>
    </form>
</div>