<div class="modal-header" >
  <button type="button" class="close">
    <span class="glyphicon glyphicon-question-sign" ></span>
  </button>
    <h4 class="modal-title">Store</h4>
</div>
<form name="createController.entityForm" novalidate class="css-form form-horizontal" ng-submit="createController.ok()">

<div class="modal-body">

  <div class="container-fluid" ng-class="{ hidden: createController.entityErrors.length > 0 } ">
    <div class="row">
      <div class="col-md-8">
        <div class="form-group" required>
        <label for="" class="col-md-2 control-label">Name</label>
        <div class="col-md-10">
          <input type="text" required class="form-control" ng-model="createController.entity.name">
        </div>
      </div>
      <div class="form-group">
        <label for="" class="col-md-2 control-label">Location</label>
        <div class="col-md-10">
          <input type="text" class="form-control" id="" placeholder="" ng-model="createController.entity.location"/>
        </div>
      </div>
      <div class="form-group">
        <label for="" class="col-md-2 control-label">Phone</label>
        <div class="col-md-10">
          <input type="text" class="form-control" id="" placeholder="" ng-model="createController.entity.phone"/>
        </div>
      </div>
      <div class="form-group">
        <label for="" class="col-md-2 control-label">Email</label>
        <div class="col-md-10">
          <input type="text" class="form-control" id="" placeholder="" ng-model="createController.entity.email"/>
        </div>
      </div>
      <div class="form-group">
        <label for="" class="col-md-2 control-label">Web</label>
        <div class="col-md-10">
          <input type="text" class="form-control" id="" placeholder="" ng-model="createController.entity.web"/>
        </div>
      </div>  
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-10">
              <div drop-zone ng-model="createController.entity.photo"></div>
              <input type="file" file-input ng-model="createController.entity.photo">
            </div>
          </div>
        </div>
      </div>
    </div> <!-- row -->
    <div class="row">
      <div class="col-md-8">
        <div class="form-group">
          <label for="" class="col-md-2 control-label">Categories</label>
          <div class="col-md-8">
            <ui-select ng-model="createController.newCategory" 
                       close-on-select="true"
                       theme="bootstrap">
              <ui-select-match> {{$select.selected.title}} </ui-select-match>
              <ui-select-choices repeat="category in createController.categories">
                <span ng-bind-html="category.title | highlight: $select.search"></span>
              </ui-select-choices>
            </ui-select>
          </div>
          <div class="col-md-2">
            <button type="button" class="btn btn-success" 
                    ng-click="createController.addCategory(createController.entity.categories, createController.newCategory)">
                    <i class="fa fa-plus"></i>
            </button>
          </div>
        </div>
      </div> <!-- md-8 -->
      <div class="col-md-4"> </div>
      <div class="row">
        <div class="form-group">
            <div class="col-md-10 col-md-offset-1">
                <ul class="list-inline">
                  <li ng-repeat="category in createController.entity.categories">
                    <div class="btn-group btn-group-xs" role="group" 
                       ng-click="createController.removeCategory(createController.entity.categories, category)">
                      <button class="btn btn-default"> {{category.title}} </button>
                      <button class="btn btn-danger"> <i class="fa fa-trash-o"></i></button>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
        </div> <!-- row -->
      </div><!-- row -->
    </div> <!-- container -->
    <!-- <pre>{{createController.entity}}</pre> -->
</div> <!-- modal-body -->

<div class="modal-footer">
  <a class="btn btn-danger"
     ng-class="{ hidden: createController.entityErrors.length == 0 }"
     ng-click="createController.cancel()"> Close </a>
  
  <!-- https://docs.angularjs.org/api/ng/directive/form#submitting-a-form-and-preventing-the-default-action -->
  <a class="btn btn-default"
     ng-click="createController.cancel()"
     ng-class="{ 'hidden': createController.entityErrors.length > 0 }">
      Cancel
  </a> <!-- van anchors porque si es button, submitea el form -->
  
  <button id="ok_button"
    type="submit"
    ng-class="{ 'hidden': createController.entityErrors.length > 0 }"
    ng-disabled="createController.entityForm.$invalid || createController.isClean()"
    class="btn btn-success">Save</button>
</div>
</form>
