<div class="container">
	<div class="row">
		<legend>Edit {{editor.store.name}}'s data</legend>
	</div>
	<form class="form-horizontal" role="form">
	  <div class="form-group">
	    <label for="" class="col-md-2 control-label">Name</label>
	    <div class="col-md-10">
	      <input type="text" class="form-control" id="" placeholder="" ng-model="editor.store.name">
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="" class="col-md-2 control-label">Location</label>
	    <div class="col-md-10">
	      <input type="text" class="form-control" id="" placeholder="" ng-model="editor.store.location"/>
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="" class="col-md-2 control-label">Phone</label>
	    <div class="col-md-4">
	      <input type="text" class="form-control" id="" placeholder="" ng-model="editor.store.phone"/>
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="" class="col-md-2 control-label">Email</label>
	    <div class="col-md-4">
	      <input type="text" class="form-control" id="" placeholder="" ng-model="editor.store.email"/>
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="" class="col-md-2 control-label">Web</label>
	    <div class="col-md-10">
	      <input type="text" class="form-control" id="" placeholder="" ng-model="editor.store.web"/>
	    </div>
	  </div>
	  <div class="row">
	  	<div class="col-md-12">
	  	  <div class="col-md-10 col-md-offset-2">
	  		  <div drop-zone ng-model="editor.store.photo"></div>
	  		  <input type="file" file-input ng-model="editor.store.photo">
	  	  </div>
	  	</div>
	  </div>

      <div class="form-group">
        <label for="" class="col-md-2 control-label">Categories</label>
        <div class="col-md-4">	
          	<input type="text" class="form-control" ng-model="newCategory" ng-options="category.description for category in editor.categories" bs-typeahead>
        </div>
        <div class="col-md-2">
          	<button type="button" class="btn btn-success" ng-click="editor.addCategory(newCategory); newCategory = {};"><i class="fa fa-plus"></i>&nbsp;Add category</button>
        </div>
      </div>
      <div class="form-group">
      	<div class="col-md-10 col-md-offset-2">
      		<div class="col-md-3" ng-repeat="category in editor.store.categories">
  				<div class="btn-group">
  				  <button type="button" class="btn">{{category.description}}</button>
  				  <button type="button" class="btn btn-danger" ng-click="editor.removeCategory(category)"><i class="fa fa-trash-o"></i></button>
  				</div>
      			
      		</div>
      	</div>
      </div>
	  <div class="form-group">
	    <div class="pull-right">
	      <a ui-sref="products.list" class="btn btn-default" >Cancel</a>
	      <button ng-click="editor.update(editor.store)" class="btn btn-primary">Save</button>
	    </div>
	  </div>
	</form>
</div>