<div class="row">
  <div class="form-horizontal">
    <div class="">
      <div class="col-md-2">
        <span class="text-huge">Stores</span>
      </div>
      <label class="col-md-2 control-label text-normal">Name</label>
      <div class="col-md-2">
        <input type="text" class="form-control input-sm" 
               ng-model="entityController.filters.name">
      </div>
      <label class="col-md-2 control-label text-normal">Location</label>
      <div class="col-md-2">
        <input type="text" class="form-control input-sm" 
               ng-model="entityController.filters.location">
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-2">
        <button ng-click="entityController.entityManager.create()"
                class="btn btn-success input-sm pull-right"> 
                <i class="fa fa-plus"></i> &nbsp;
                {{entityController.entityManager.newName}}
        </button>
    </div>
  </div>  
</div>