<!-- StoreViewController as entityController -->
<div class="spacer"></div>
<ng-include src="'/views/stores/filters.html'"></ng-include>
<div class="row line"></div>
<div class="spacer"></div>

<div class="row">
  <div class="col-md-6" 
       ng-repeat="store in entityController.entityManager.entities | filter: entityController.entityManager.filterFn">
      <div class="panel panel-success">
        <div class="panel-heading">{{store.name}}</div>
        <div class="panel-body">
          <div class="row">
            
            <div class="col-md-6">
              <!-- <ng-if "{{store.photo.content}}" > -->
                <img src="{{store.photo.content}}" alt="" class="img-thumbnail">
              <!-- </ng-if> -->
            </div>

            <div class="col-md-6">
              <div class="row">
                <small>location</small>
                <div class="col-md-12">
                  {{store.location}}
                </div>
              </div>
              <div class="row">
                <small>web</small>
                <div class="col-md-12">
                  <a href="http://{{store.web}}" target="_blank" > {{store.web}} </a>                
                </div>
              </div>
              <div class="row">
                <small>categories</small>
                <div class="col-md-12">
                  <div class="col-md-4" ng-repeat="category in store.categories">
                    <span class="label label-success"> {{category.title}}</span>
                  </div>
                </div>
              </div>
            </div> <!-- col-md-6 -->

          </div> <!-- row -->
          <div class="row">
            <div class="col-md-12">
              <div class="pull-right">
                <a  class="btn btn-primary btn-sm" 
                    ng-click="entityController.entityManager.edit(store)">
                    Edit
                </a>
                <a  class="btn btn-danger btn-sm" 
                    ng-click="entityController.entityManager.remove(store)">
                    Remove
                </a>
              </div>
            </div> <!-- col-md-12 -->
          </div> <!-- row -->
      </div> <!-- panel-body -->
    </div> <!-- panel -->
  </div> <!-- col-md-6 ng repeat-->
</div> <!-- row -->