
<div class="row">
  <div class="col-md-12">
    <h1>{{entityManager.listName}}</h1>
  </div>
</div>
<!-- filters -->
<div class="row">
  <form class="form-horizontal well" role="form">
    <div class="form-group">
      <label for="" class="col-md-2 control-label">Description</label>
      <div class="col-md-2">
        <input type="text" class="form-control" ng-model="list.filters.description" id="" placeholder="">
      </div>
    </div>
  </form>
</div>
<div class="row">
 <div class="col-md-12">
    <button type="button" class="btn btn-sm btn-success" 
            data-template="views/categories/add-category-popover.html" 
            data-animation="am-flip-x" data-container="body" bs-popover>
              Add category
    </button>
 </div>
</div>
<br>

<div class="row">
  <div class="col-md-12">
    <div  class="col-md-6" 
          ng-repeat="category in filteredCategories = (list.categories | filter: list.categoriesFilterFn)">
      <div class="panel panel-success">
        <div class="panel-heading">{{ category.description }}</div>
        <div class="panel-body">
         <div class="col-md-6">
            <img src="{{ store.photo.content}}" alt="" class="img-thumbnail">
         </div>
         <div class="row">
            <div ng-repeat="subCategory in category.subCategories">
              <span class="label label-success">{{ category.description }}</span>
            </div>
         </div>
          <div class="row">
            <div class="col-md-12">
              <div class="pull-right">
                <a class="btn btn-primary btn-sm" href="#/categories/edit/{{ category._id }}" >Edit</a>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
    <div class="pull-right">
      <button class="btn btn-primary">Save</button>
    </div>
  </div>
</div>
