/**** MENU ****/

$MenuBarIcons: 0px;

/*** PROPERTIES ***/

$NoMarginAndPadding: 0px;
$Hundred_PC: 100%;
$noMeasureMent: 0;
$bg-color: #1c5ea8;
$hidden: hidden;
$relative: relative;
$absolute: absolute;
$margin-auto: 0 auto;
$homeSlideHeight: 500px;
$center: center;
$none: none;
$visible: visible;
$block: block;
$navLinkColor: #fff;
$maxSliderHeight: 400px;
$right: right;
$letterGothic: letter-gothic-std;
$box-sizing: border-box !important;
$headerBgColor: #001101;
$oswald: 'open sans', helvetica, sans-serif;
$bodyFont: "open sans", helvetica, sans-serif;
$toolTip: "absolute";
$topTriangle: '0px solid transparent';

/* HOME VARS */ 

$productImgSize: 300px;
$productImgBtnSize: 30px;
$productItemBtn: 15px;
$productItemBtnColor: #001101;
$productItemBtnColor_hover: #000;
$productItemShare: #4f4f4f;

/* STORE VARS */
$storeIcons: 0px;
$itemButtons: 30px;
$productView-font: 0px;
$crumbTrails: 13px;

/* FOOTER */

$footerBarIcons: 0px;