<!-- CategoryViewController as entityController -->
<div class="spacer"></div>
<ng-include src="'/views/categories/filters.html'"></ng-include>
<div class="row line"></div>
<div class="spacer"></div>

<div class="row">
  <div class="col-md-12">
    <div class="col-md-6" 
         ng-repeat="entity in entityController.entityManager.entities | filter: entityController.entityManager.filterFn">
      <div class="panel panel-success">
        <div class="panel-heading">{{ entity.title }}</div>
        <div class="panel-body">
          <div class="col-md-6">
            {{entity.description}}
            <!-- <img src="{{ store.photo.content}}" alt="" class="img-thumbnail"> -->
          </div>
          <div class="col-md-12">
            <div class="pull-right">
              <a class="btn btn-primary btn-sm" 
                 ng-click="entityController.entityManager.edit(entity)">
                  Edit
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>