<div class="container">
	<div class="row">
		<legend ng-show="editor.category._id">Edit Category</legend>
		<legend ng-hide="editor.category._id">Create Category</legend>
	</div>
	<form class="form-horizontal" role="form">
	  	<label for="" class="col-md-2 control-label">Title</label>
	  	<div class="col-md-2">
	  	  <input type="text" class="form-control" id="" placeholder="" ng-model="editor.category.title"/>
	  	</div>
		
		<div class="form-group">
			<div class="col-md-12">
				<h3>Properties</h3>
				<hr>
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-3">
				<h4>Sizes</h4> 
			</div>
			<div class="col-md-3">
			<button type="button" class="btn btn-sm btn-success" data-template="views/categories/add-size-popover.html" data-animation="am-flip-x" data-container="body" bs-popover><i class="fa fa-plus"></i>&nbsp; Add size</button>
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-12">
				<div class="col-md-3" ng-repeat="size in editor.category.properties.sizes">
					<div class="btn-group">
					  <button type="button" class="btn">{{ size.description }}</button>
					  <button type="button" class="btn btn-danger" ng-click="editor.removeSize(size)"><i class="fa fa-trash-o"></i></button>
					</div>
				</div>
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-12">
				<div class="pull-right">
					<button class="btn btn-primary" ng-show="editor.category._id">Save changes</button>
					<button class="btn btn-primary" ng-hide="editor.category._id">Save</button>
				</div>
			</div>
		</div>

	</form>
</div>