<div class="container">
	<div class="row">
		<legend>Edit Product</legend>
	</div>
	<form class="form-horizontal" role="form">
	  <div class="form-group">
	    <label for="" class="col-md-2 control-label">Name</label>
	    <div class="col-md-10">
	      <input type="text" class="form-control" id="" placeholder="" ng-model="editor.product.name">
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="" class="col-md-2 control-label">Description</label>
	    <div class="col-md-10">
	      <textarea type="text" class="form-control" id="" placeholder="" ng-model="editor.product.description"></textarea>
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="" class="col-md-2 control-label">Price</label>
	    <div class="col-md-2">
	      <input type="text" class="form-control" id="" placeholder="" ng-model="editor.product.price"/>
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="" class="col-md-2 control-label">Photos</label>
	    <div class="col-md-10">	
	      	<div>
	      		<button type="button" class="btn btn-sm btn-success" data-template="views/products/photos-popover.html" data-container="body" data-animation="am-flip-x" bs-popover>Add photo
	      		</button>
	      	</div>
	    </div>
	    <div class="form-group" ng-show="!editor.product.photos.length">
	    	<div class="col-md-12">
		    	<div class="alert alert-warning">
		      		<p>There are no photos for this product</p>
		      	</div>
	    	</div>
	    </div>
	    <div class="form-group" ng-show="editor.product.photos.length">
	    	<div class="col-md-offset-2">
		    	<div class="col-md-3" ng-repeat="photo in editor.product.photos">
		    		<img src="{{photo.content}}" class="img-thumbnail" alt="">
		    		<p>{{photo.description}}</p>
		    	</div>
	    	</div>
	    </div>
	  </div>
	    <div class="form-group">
	      <label for="" class="col-md-2 control-label">Categories</label>
	      <div class="col-md-4">	
	        	<input type="text" class="form-control" ng-model="newCategory" ng-options="category.description for category in editor.categories" bs-typeahead>
	      </div>
	      <div class="col-md-2">
	        	<button type="button" class="btn btn-success" ng-click="editor.addCategory(newCategory); newCategory = {};"><i class="fa fa-plus"></i>&nbsp;Add category</button>
	      </div>
	    </div>
	    <div class="form-group">
	    	<div class="col-md-10 col-md-offset-2">
	    		<div class="col-md-2" ng-repeat="category in editor.product.categories">
					<div class="btn-group">
					  <button type="button" class="btn">{{category.description}}</button>
					  <button type="button" class="btn btn-danger" ng-click="editor.removeCategory(category)"><i class="fa fa-trash-o"></i></button>
					</div>
	    			
	    		</div>
	    	</div>
	    </div>
	  <div class="form-group">
	    <div class="pull-right">
	      <a ui-sref="products.list" class="btn btn-default" >Cancel</a>
	      <button ng-click="editor.update(editor.product)" class="btn btn-primary">Save</button>
	    </div>
	  </div>
	</form>
</div>