
<div class="popover-lg">
  <div class="arrow"></div>
  <h3 class="popover-title">Add photo</h3>
  <div class="popover-content">
  	<div class="row">
  		<div class="col-md-12">
  			<div drop-zone ng-model="newPhoto"></div>
  			<input type="file" file-input ng-model="newPhoto">
  			<input type="text" class="form-control" ng-model="newPhoto.description">
  		</div>
  	</div>
  	<div class="row">
  		<div class="col-md-12">	
  			<div class="pull-right">
  				<button class="btn btn-primary" ng-click="editor.addPhoto(editor.product.photos, newPhoto); $hide(); newPhoto = {}">Add <i class="fa fa-plus"></i></button>
  			</div>
  		</div>
  	</div>
  </div>
</div>