<!-- CategoryViewController as entityController -->
<div class="spacer"></div>
<ng-include src="'/scripts/modules/categories/filters.html'"></ng-include>
<div class="row line"></div>
<div class="spacer"></div>

<div class="row">
    <ol class="list-group">
      <li class="list-group-item"
          ng-repeat="category in entityController.entityManager.entities | filter: entityController.entityManager.filterFn">
            {{category.title}} {{category.description}}

            <div class="btn-group btn-group-xs pull-right" role="group" 
                 ng-click="entityController.entityManager.edit(category)"
                 ng-if="entityController.perms.editParents">
                <button class="btn btn-default">edit</button>
                <button class="btn btn-primary"><i class="fa fa-edit"></i></button>
            </div>
          </span>
        <ol class="list-group nested" ng-if="category.subCategories.length > 0">
          <li class="list-group-item"
              ng-repeat="subCategory in category.subCategories">
              {{subCategory.title}}
              <div class="btn-group btn-group-xs pull-right" role="group" 
                 ng-click="entityController.entityManager.edit(category)">
                <button class="btn btn-default">edit</button>
                <button class="btn btn-primary"><i class="fa fa-edit"></i></button>
            </div>
          </li>
        </ol>
      </li>
    </ol>
</div>