<div class="spacer"></div>
<ng-include src="'/scripts/modules/products/filters.html'"></ng-include>
<div class="row line"></div>
<div class="spacer"></div>

<div class="row">
    <div class="col-md-6" 
         ng-repeat="product in entityController.entityManager.entities | filter: entityController.entityManager.filterFn">
        <div class="panel panel-success">
            <div class="panel-heading">{{product.name}}</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <img ng-if="product.images.length" 
                             ng-src="{{product.images[0].content}}" alt="product image"
                             class="img-thumbnail product-list-image">

                        <img ng-if="!product.images.length" 
                             ng-src="/images/product-default.png"
                             alt="default product"
                             class="img-thumbnail product-list-image">
                    </div>

                    <div class="col-md-8">
                        <div class="row">
                            <small class="text-muted">seller</small>
                            <div class="col-md-12">
                                {{product.seller.username}}
                            </div>
                        </div>
                        <div class="row">
                            <small class="text-muted">description</small>
                            <div class="col-md-12">
                                {{product.description}}
                            </div>
                        </div>
                        <div class="row">
                            <small class="text-muted">categories</small>
                            <div class="col-md-12">
                            <ul class="list-inline category-list">
                              <li ng-repeat="category in product.categories">
                                <span class="label label-success"> {{category.title}} </label>
                              </li>
                            </ul>
                              <!-- <div class="row">
                                <span class="label label-success category-listed col-md-2"
                                      ng-repeat="category in product.categories">{{category.title}}</span>
                              </div> -->
                            </div>
                        </div>
                    </div> <!-- col-md-6 -->
                </div> <!-- row -->    
                  
                  <div class="row">
                      <div class="col-md-12">
                        <div class="pull-right">
                          <a  class="btn btn-primary btn-sm" 
                              ng-click="entityController.entityManager.edit(product)">
                              Edit
                          </a>
                          <a  class="btn btn-danger btn-sm" 
                              ng-click="entityController.entityManager.remove(product)">
                              Remove
                          </a>
                        </div>
                      </div> <!-- col-md-12 -->
                  </div> <!-- row -->
            </div> <!-- panel body -->
        </div> <!-- panel -->
    </div> <!-- col-md-6 -->
</div> <!-- row -->